@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.hidden {
  display: none;
}

.banner {
  padding: 100px 0;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  height: 760px;
  position: relative;
  border: 2px solid red;
}

.banner-container {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 400px;
}

.banner-title {
  font-size: 3.7rem;
  font-weight: 800;
  color: white;
  margin-bottom: 10px;
}

.banner-description {
  font-size: 1rem;
  color: white;
  opacity: 0.8;
  margin-bottom: 24px;
}

.bg-linear {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
}

.bg-linear:hover {
  background: rgba(128, 128, 128, 0.139);
  color: white;
  border: 1.5px solid white;
}

.msg {
  color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 20px;
  padding: 12px 20px;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
}

/* .banner-image {
  position: relative;
  border: 2px solid red;
} */

.hero-circle {
  position: absolute;
  top: 100px;
  left: 620px;
}

.mic {
  position: absolute;
  top: 175px;
  left: 740px;
}

.footer {
  background: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

.footer-container {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px 0;
}

.social-icons li {
  list-style-type: none;
  font: 1rem;
  color: white;
  font-weight: 500;
  opacity: 0.6;
}

.social-icons li img {
  vertical-align: middle;
  margin-right: 10px;
}

.copyright {
  font-size: 1rem;
  line-height: 24px;
  color: #fafafa;
  opacity: 0.6;
}

.logo {
  font-size: 4rem;
  font-weight: 800;
  color: white;
}

.footer-linear {
  background-image: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 576px) {
  .footer {
    background: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
  }

  .footer-container {
    max-width: 300px;
  }

  .social-icons {
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
    margin: 24px 0;
  }
}
